<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AISGorod.Attendance.App.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <AISGorod.Attendance.App.Properties.Settings>
            <setting name="EmailBodyBegin" serializeAs="String">
                <value>Список посещения на {0}.&lt;br&gt;&lt;br&gt;</value>
            </setting>
            <setting name="EmailBodyEnd" serializeAs="String">
                <value>&lt;br&gt;&lt;hr&gt;Подпись.</value>
            </setting>
            <setting name="EmailSubject" serializeAs="String">
                <value>Список посещения на {0}</value>
            </setting>
            <setting name="EmailFrom" serializeAs="String">
                <value>from@localhost</value>
            </setting>
            <setting name="EmailFromName" serializeAs="String">
                <value>fromName</value>
            </setting>
            <setting name="EmailTo" serializeAs="String">
                <value>to@localhost</value>
            </setting>
            <setting name="AuthServer" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="AuthName" serializeAs="String">
                <value>from@localhost</value>
            </setting>
            <setting name="AuthPass" serializeAs="String">
                <value>mypassword</value>
            </setting>
            <setting name="AuthPort" serializeAs="String">
                <value>587</value>
            </setting>
            <setting name="AuthUseSSL" serializeAs="String">
                <value>True</value>
            </setting>
        </AISGorod.Attendance.App.Properties.Settings>
    </userSettings>
</configuration>